@media only screen and (max-width : 1200px) {
	.navbar-top-left li a {
		padding: 13px 10px;
	}
	.navbar-top-right li a{
		padding: 13px 10px;
	}
	.navbar-top-right li.profile a {
			padding: 13px 15px;
	}
	.navbar-top-search input[type="search"]{
		width: 160px;
	}
	.banner-right-block{
		height: 176px;
	}
	.trend-block img{
		height: 220px;
	}
	.bg-img-div{
		height: 205px;
	}
	.owl-hits .item .look-book-img{
		height: 235px;
	}
	/* index */
	.owl-news .item .owl-news-txt{
		width: 130px;
	}
	.nav-bottom li a{
		margin: 0 10px;
		font-size: 12px;
	}
	.banner-left{
		width: 700px;
	}
	.banner-right{
		width: 270px;
	}
	.banner-right-block h2{
		left: 10px;
	}
	.banner-right-block p{
		left: 10px;
	}
	.owl-news .owl-prev{
		left: 0;
	}
	.tab-block{
		width: 300px;
	}
	.tab-block h2{
		margin-left: 10px;
	}
	.tab-block p{
		margin-left: 10px;
	}
	.owl-hits .owl-prev{
		left: 0;
	}
	.trend-block{
		width: 220px;
	}
	.trend-block-big{
		width: 470px;
		margin-left: 0!important;
		margin-right: 0!important;
		float: none;
	}
	.top-left{
		width: 670px;
	}
	.top-left .ltl{
		height: 252px;
	}
	.top-left .ltr{
		width: 320px;
		height: 252px;
	}
	.top-right{
		width: 270px;
	}
	.top-right-txt{
		width: 220px;
	}
	.all-social{
		width: 940px;
		height: 80px;
	}
	.social-block{
		width: 235px;
		line-height: 80px;
	}
	.footer-block{
		width: 140px;
	}
	.footer-block-right{
		margin-left: 0;
	}
	/* cooperation */
	.coop-img-1{
		width: 48%;
	}
	.coop-img-2{
		width: 48%;
	}
	.why-coop-block{
		width: 285px;
	}
	/* authors */
	.author-block{
		width: 315px;
	}
	.btn-author{
		width: 100%;
	}
	/* look */
	.look-left{
		width: 470px;
	}
	.look-right{
		width: 435px;
	}
	.look-right p.look-compare{
		display: block;
		margin-left: 0;
		margin: 10px 0;
	}
	.btn-add-cart{
		display: block;
		margin: 30px 0 0;
	}
	.btn-add-like{
		display: block;
		margin-left: 0;
		width: 270px;
		margin: 10px 0 30px;
	}
	.owl-look-book .look-book-block{
		width: 230px;
	}
	.owl-look-book .owl-next{
		right: 0;
	}
	.owl-look-book .owl-prev{
		left: 0;
	}
	.also-left{
		width: 470px;
	}
	.also-right{
		width: 470px;
	}
	.owl-also-left .item{
		width: 130px;
	}
	.owl-also-right .item{
		width: 130px;
	}
	.owl-also-right .owl-next{
		right: 0;
		bottom: 40%;
	}
	.owl-also-left .owl-next{
		right: 0;
		bottom: 40%;
	}
	.owl-also-right .owl-prev{
		left: 0;
		bottom: 40%;
	}
	.owl-also-left .owl-prev{
		left: 0;
		bottom: 40%;
	}
	.owl-also-right .item img{
		height: 128px;
	}
	.similar-cat-block{
		width: 470px;
	}
	#already-look img{
		width: 140px;
	}
	/* shares */
	.share-img-wrap{
		margin-left: 105px;
	}
	/* blog */
	.blog-block{
		width: 290px;
	}
	/* wishlist */
	.right-block{
		width: 670px;
	}
	.wishlist-block{
		width: 205px;
	}
	/* product */
	.product-block-left{
		float: none;
		width: 100%;
		margin-bottom: 80px;
	}
	.product-block-right{
		width: 100%;
	}
	.product-plus-block{
		float: none;
		display: inline-block;
	}
	/* catalog */
	.catalog-left{
		width: 170px;
	}
	.catalog-right{
		width: 770px;
	}
	.catalog-filter{
		width: 100%;
	}
	/* contacts */
	.map-left{
		width: 300px;
		padding-left: 55px;
	}
	.map-right{
		width: 670px;
		padding-left: 35px;
	}
	/* content */
	#content p{
		width: 100%;
	}
	/* about */
	.about-img-wrap img{
		width: 450px;
	}
	.mission-left{
		width: 600px;
	}
	.mission-right{
		width: 300px;
	}
	.service-block{
		width: 310px;
		padding-left: 0;
	}
	.about-also-a-wrap{
		width: 320px;
	}
	#mission h3{
		width: 100%;
		margin-left: 0;
	}
	#mission p{
		width: 100%;
		margin-left: 0;
	}
	.service-block-descr p.descr{
		width: 100%;
	}
	.service-block-descr{
		padding-left: 30px;
		width: 250px;
	}
	/* order */
	.order-left{
		width: 625px;
	}
	.order-right{
		width: 345px;
		padding-left: 40px;
	}
	.order-price{
		width: 100%;
	}
	.btn-order{
		margin-left: 15px;
	}
	/* portfolio */
	.nav-tabs &gt; li &gt; a{
		margin: 0 15px;
	}
	.portfolio-block{
		width: 290px;
	}
	.img-bac{
		height: 180px;
	}
	.advantages-block{
		margin: 0 40px 105px;
	}
	/* compare */
	.compare-param input[type="checkbox"]:not(checked) + label{
		margin-bottom: 10px;
	}
	/* article */
	.img-wrap{
		width: 100%;
	}
	.also-article-block{
		margin-right: 10px;
		width: 310px;
	}
	/* work-steps */
	.step-block{
		width: 960px;
	}
	.step-block-number{
		width: 50px;
		height: 50px;
		font-size: 26px;
		padding-top: 1px;
		margin-right: 40px;
	}
	.step-block-txt-right{
		width: 700px;
	}
	.step-block-img-left{
		width: 570px;
		height: 380px;
	}
	.step-block-img-right{
		width: 340px;
		height: 380px;
	}
	.step-block-img-center-1{
		margin-left: 0;
		width: 470px;
	}
	.step-block-img-center-2{
		width: 470px;
	}
	.step-block-img-full{
		width: 100%;
		margin-left: 0;
	}
	/* brand-page */
	.f-col-block{
		width: 370px;
	}
}
@media only screen and (max-width : 992px) {
        .owl-banner .owl-dots{
                margin-top: 0px;
        }
	.owl-banner .owl-dot{
                display: none;
        }
	.owl-hits .item .look-book-img{
		height: 175px;
	}
	.nav-bottom li {
	display: none;}
	.nav-bottom .menu-img-wrap {
	display: block;}
	.bg-img-div{
		height: 240px;
	}
	.nav-bottom li.menu-img .p-wrap{
		top: 35px;
	}
	.top-left .ltl{
		height: auto;
	}
	.top-left .ltr{
		height: auto;
	}
	.top-left .lb{
		height: auto;
	}
	.nav-bottom-small li.menu-img{
		line-height: 60px;
	}
	.nav-bottom li.menu-img{
		line-height: 60px;
		display: block;
	}
	/* index */
	.owl-also-right .item img {
		height: 220px;
	}
	header{
		display: none;
	}
	.nav-top{
		display: none;
	}
	.nav-bottom{
		height: 60px;
	}
	.nav-bottom-small li.menu-img .p-wrap{
		top: 38px;
	}
	.nav-bottom &gt; .container &gt; li{
		display: none;
	}
	.nav-bottom li.nav-bottom-logo{
		display: block;
	}
	.nav-bottom li.nav-bottom-logo img{
		width: 70px;
	}
	.nav-bottom li a{
		line-height: 60px;
	}
	.nav-bottom li.menu-img img{
		width: 35px;
	}
	.nav-bottom li.menu-img p{
		right: 14px;
		top: 17px;
	}
	.navbar-toggle .icon-bar{
		background-color: #fff;
		height: 3px;
		width: 20px;
	}
	.navbar-toggle{
		margin: 12px 10px 12px 0;
		display: block;
	}
	#banner{
		margin-top: 0;
	}
	.banner-right{
		display: none;
	}
	.banner-left{
		width: 100%;
		overflow: hidden;
	}
	#news h2{
		margin: 50px 0 45px 30px;
		text-transform: none;
	}
	.owl-news .owl-prev, .owl-news .owl-next{
		display: none!important;
	}
	.owl-news .item img{
		width: 80px;
	}
	.owl-news .item .owl-news-txt{
		width: 145px;
	}
	.owl-news .item h3{
		margin-top: 5px;
	}
	.owl-news .item p{
		margin: 0;
	}
	#news .news-title a{
		display: none;
	}
	.mobile-a a{
		display: block;
	}
	#portfolio &gt; .container &gt; p{
		width: 100%;
	}
	.tab-block{
		width: 220px;
	}
	.container{
		padding: 0 10px;
	}
	#banner .container{
		padding: 0;
	}
	#steps{
		display: none;
	}
	.owl-hits .owl-next, .owl-hits .owl-prev{
		display: none!important;
	}
	.trend-block{
		width: 50%;
		margin: 0 0 15px;
	}
	.trend-block-big{
		float: none;
		width: 100%;
	}
	.top-left{
		float: none;
		width: auto;
	}
	.top-left .ltl{
		width: 100%;
		margin: 5px 0;
	}
	.top-left .ltr{
		width: 100%;
		margin: 5px 0;
	}
	.top-left .lb{
		margin: 5px 0;
	}
	.top-right{
		width: 100%;
		margin: 5px 0;
	}
	.top-right-txt{
		width: 90%;
		position: relative;
		margin-top: -100px;
		padding-top: 20px;
	}
	.top-right-txt h3{
		margin-top: 0;
	}
	.all-social{
		display: none;
	}
	.all-social-mobile{
		display: block;
	}
	.footer-block{
		display: none;
	}
	.footer-top{
		padding-top: 45px;
		padding-bottom: 30px;
	}
	.footer-block-right{
		width: 100%;
	}
	.footer-after{
		padding-top: 70px;
	}
	/* cooperation */
	#cooperation h2{
		width: 100%;
	}
	#cooperation h3{
		width: 100%;
	}
	#cooperation{
		padding-bottom: 90px;
	}
	#why-coop{
		padding-top: 90px;
	}
	.why-coop-block{
		width: 48%;
		margin-right: 2%!important;
	}
	#contacts-form form{
		width: 100%;
	}
	#contacts-form form input{
		width: 33.3%;
	}
	#contacts-form form textarea{
		width: 100%;
	}
	.btn-vacancy-form{
		width: 100%;
	}
	#contacts-form form p{
		width: 100%;
	}
	/* authors */
	#authors &gt; .container &gt; p{
		width: 100%;
	}
	.nav-tabs &gt; li{
		display: block;
	}
	.nav-tabs &gt; li &gt; a, .nav-tabs &gt; li &gt; a:hover, .nav-tabs &gt; li &gt; a:focus, .nav-tabs &gt; li.active &gt; a, .nav-tabs &gt; li.active &gt; a:hover, .nav-tabs &gt; li.active &gt; a:focus{
		border-bottom: none;
	}
	.authors-tab .nav-tabs &gt; li &gt; a{
		padding-bottom: 20px;
	}
	.author-block{
		width: 360px;
	}
	/* look */
	.look-left{
		width: 370px;
	}
	.look-right{
		margin-left: 30px;
		width: 325px;
	}
	.look-right h1{
		margin: 10px 0 0;
	}
	.owl-look-book .look-book-block{
		width: 100%;
	}
	.also-left{
		width: 100%;
		float: none;
	}
	.also-right{
		width: 100%;
		float: none;
		margin-top: 60px;
	}
	.owl-also-left .item{
		width: 100%;
	}
	.owl-also-right .item{
		width: 100%;
	}
	.similar-cat-block{
		width: 47%;
	}
	.similar-cat-block p{
		bottom: 0;
		left: 0;
	}
	.similar-cat-block h3{
		left: 0;
		bottom: 70px;
	}
	#already-look img{
		width: 170px;
		float: none;
		margin-bottom: 20px;
	}
	/* shares */
	.share-img-wrap{
		margin-left: 0;
		margin-right: 40px;
	}
	.shares-right{
		width: 420px;
	}
	.shares-right h3{
		width: 100%;
	}
	/* blog */
	.blog-block{
		width: 330px;
	}
	/* brand */
	#brands &gt; .title-wrap &gt; p{
		width: 95%;
	}
	/* vacancies */
	.vacancy-form form{
		width: 100%;
	}
	.vacancy-form form input{
		width: 33.3%;
	}
	.vacancy-form form textarea{
		width: 100%;
	}
	.vacancy-form form input[type="submit"]{
		width: 100%;
		background-position: 38% 20px;
	}
	/* wishlist */
	.right-block{
		width: 560px;
	}
	.wishlist-block{
		width: 170px;
	}
	.menu-left{
		width: 135px;
	}
	.menu-left ul{
		margin-left: 0;
	}
	/* catalog-all */
	.catalog-all-block{
		width: 100%;
	}
	.catalog-all-block-ul{
		width: 33.3%;
	}
	/* catalog */
	.top-links{
		margin-bottom: 30px;
	}
	.catalog-left.mobile_hide{
		display: none;
	}
	.catalog-left-mobile{
		display: block;
	}
	.catalog-left > a{
		display: inline-block;
	}
	.catalog-left{
		display: block;
		width: 100%;
		float: none;
	}
	.catalog-left a img{
		width: 15px;
		margin: 0 30px 0 15px;
	}
	.catalog-right{
		width: 100%;
		margin-left: 0;
	}
	.catalog-banner{
		display: none;
	}
	.catalog-right .wishlist-block{
		width: 32.9%;
		margin-right: 0;
	}
	.owl-catalog-slider h3{
		top: 60px;
	}
	.owl-catalog-slider h2{
		top: 105px;
	}
	.owl-catalog-slider p.price{
		top: 225px;
	}
	/* contacts */
	.map-left{
		padding-left: 0;
		width: 200px;
	}
	.map-right{
		width: 530px;
	}
	#map-wrap{
		width: 100%;
	}
	/* content */
	#content .menu-left{
		display: none;
	}
	#content .right-block{
		width: 100%;
		margin-left: 0;
	}
	/* profile */
	.profile-form form{
		width: 100%;
	}
	.profile-form input{
		width: 380px;
	}
	.btn-profile{
		width: 380px;
	}
	.profile-form textarea{
		width: 380px;
	}
	/* about */
	.about-img-wrap img{
		width: 330px;
	}
	#about h3{
		width: 100%;
	}
	.mission-left{
		width: 100%;
	}
	.mission-right{
		width: 100%;
		margin-left: 0;
		margin-top: 50px;
	}
	.service-block{
		width: 360px;
	}
	.about-comments-block{
		width: 100%;
	}
	.about-also-a-wrap{
		width: 50%;
	}
	.about-descr{
		width: 100%;
	}
	.about-descr p{
		width: 100%;
	}
	/* order */
	.order-left{
		width: 100%;
		border-right: none;
		padding-bottom: 50px;
	}
	.order-left .profile-form{
		width: 570px;
	}
	.profile-form input[type="radio"]:not(checked) + label{
		margin-right: 35px;
	}
	.profile-form select{
		width: 380px;
	}
	.order-price h2{
		text-align: left;
		margin: 0 0 20px;
	}
	.price-left{
		float: none;
		display: block;
		border-right: none;
	}
	.btn-order{
		margin-left: 0;
		margin-top: 40px;
	}
	.order-right{
		padding-top: 50px;
		padding-left: 0;
		width: 100%;
	}
	.order-right-block{
		float: left;
		width: 50%;
	}
	.profile-form input[type="radio"]{
		display: none;
	}
	/* portfolio */
	.portfolio-block{
		width: 230px;
		margin-right: 10px;
		margin-bottom: 15px;
	}
	.img-bac{
		height: 150px;
	}
	.advantages-block{
		width: 220px;
		margin: 0 10px 105px;
	}
	/* portfolio-work */
	.owl-portfolio{
		width: 100%;
	}
	.about-project{
		width: 100%;
	}
	.about-project h2{
		padding-left: 0;
	}
	.about-project-left{
		padding-left: 0;
		width: 420px;
		padding-right: 20px;
	}
	.about-project-right{
		width: 310px;
	}
	.about-project-left p{
		width: 100%;
	}
	.solution{
		padding-left: 0;
		width: 100%;
	}
	.js-stuff{
		width: 100%;
	}
	.comment{
		width: 100%;
	}
	.comment-left{
		padding-left: 0;
		width: 300px;
	}
	.comment-right{
		width: 420px;
	}
	.comment-right p{
		width: 100%;
	}
	.comment-full{
		width: 100%;
	}
	.comment-small-1{
		width: 360px;
	}
	.comment-small-2{
		width: 360px;
	}
	.btn-portfolio-work{
		width: 100%;
	}
	.team-project-wrap{
		width: 100%;
	}
	.team-project-block{
		float: none;
		width: 100%;
	}
	/* brand-page */
	.brand-wrap{
		width: 100%;
	}
	.brand-name{
		width: 350px;
	}
	.brand-video{
		width: 350px;
	}
	.brand-video img{
		position: absolute;
		top: 30%;
		left: 45%;
	}
	#brand-page h4{
		width: 100%;
	}
	/* article */
	.img-article-1{
		width: 48%;
	}
	.img-article-2{
		width: 48%;
	}
	.article-wrap{
		width: 100%;
	}
	.also-article-block{
		width: 230px;
	}
	.also-article-block h4{
		width: 100%;
	}
	/* work-steps */
	.steps-top{
		width: 100%;
	}
	.step-block-txt-right{
		width: 600px;
	}
	.step-block-img-left{
		margin-left: 0;
		width: 470px;
		height: 315px;
		margin-top: 20px;
	}
	.step-block{
		width: 100%;
	}
	.step-block-img-right{
		width: 250px;
		height: 315px;
		margin-top: 20px;
	}
	.step-block-img-center-1{
		width: 49%;
	}
	.step-block-img-center-2{
		width: 49%;
	}
	.step-block &gt; h3{
		padding-left: 0;
	}
	.step-block &gt; h4{
		padding-left: 0;
		width: 100%;
	}
	.step-block &gt; p{
		width: 100%;
		padding-left: 0;
	}
	.step-block &gt; h5{
		width: 100%;
	}
	.btn-next-step{
		width: 100%;
	}
	/* cart */
	.cart-head .name{
		width: 50%;
	}
	.cart-block-name{
		width: 50%;
	}
	.cart-head .number{
		width: 30%;
	}
	.cart-block-number{
		width: 30%;
	}
	.cart-head .price{
		width: 20%;
	}
	.cart-block-price{
		width: 20%;
	}
	.cart, #basket_items_list .bx_ordercart_order_table_container{
		width: 730px;
	}
	#basket_items_list .bx_ordercart_order_pay{
		width: 730px;
	}
	/* brand-page */
	.f-col-block{
		width: 340px;
		margin: 0 5px;
	}
}
@media only screen and (max-width : 768px) {
	.nav-bottom li.menu-img.menu-img-search{
		display: block;
	}
	.navbar-top-search{
		width: 250px;
		float: none;
		display: block;
		margin: 0 auto 30px;
		position: relative;
	}
	.navbar-top-search input[type="search"]{
		width: 100%!important;
		line-height: 40px;
		height: 40px;
		border-radius: 30px;
	}
	.navbar-top-search input[type="submit"]{
		margin-left: 0;
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
	}
	.mobile-menu-top ul{
		padding: 0;
	}
	.mobile-menu .search-block ul li, .search-block ul li{
		padding-left: 0;
	}
	.mobile-menu .search-block ul li a, .search-block ul li a{
		font-size: 14px;
	}
	.owl-banner .owl-dots{
		margin-top: 0px;
	}
	.owl-banner .owl-dot{
		display: none;
	}
	.owl-hits .item .look-book-img{
		height: 270px;
	}
	.owl-also-right .item img {
		height: auto;
	}
	.myorders-table table{
		min-width: 700px;
	}
	/* index */
	.news-bottom img{
		float: left;
		margin-right: 30px;
		margin-top: 5px;
	}
	.news-bottom p{
		display: block;
		float: left;
		width: 80%;
		text-align: left;
		margin: 0;
	}
	.nav-tabs &gt; li &gt; a{
		border: none;
	}
	.nav-tabs &gt; li.active &gt; a, .nav-tabs &gt; li.active &gt; a:hover, .nav-tabs &gt; li.active &gt; a:focus{
		border: none;
	}
	.tab-block{
		width: 100%;
		margin: 0 0 30px 0!important;
	}
	.nav-tabs &gt; li &gt; a:hover, .nav-tabs &gt; li &gt; a:focus{
		border: none;
	}
	.nav-tabs &gt; li{
		display: block;
	}
	#hits .container{
		padding: 0;
	}
	.owl-hits .item img{
		margin: 0 auto;
	}
	#trend h2{
		font-size: 26px;
	}
	.btn-trend span{
		display: none;
	}
	.btn-trend{
		line-height: 70px;
	}
	.footer-bottom &gt; .container &gt; a{
		display: none;
	}
	.footer-bottom p{
		text-align: center;
	}
	/* cooperation */
	.coop-img-1{
		width: 100%;
		margin: 0 0 10px;
	}
	.coop-img-2{
		width: 100%;
		margin: 0 0 10px;
	}
	#cooperation p{
		margin: 0 0 10px;
	}
	#cooperation p.img-descr{
		margin: 35px 0 0;
	}
	#cooperation h2{
		margin: 60px 0;
		text-align: left;
	}
	.why-coop-block{
		width: 100%;
		margin: 0!important;
		padding-bottom: 55px;
	}
	#contacts-form{
		padding-bottom: 105px;
	}
	#contacts-form form input[type="text"], #contacts-form form input[type="submit"]{
		width: 100%;
		margin-top: 15px;
	}
	#contacts-form input.full-width{
		margin-top: 15px;
	}
	#contacts-form form textarea{
		margin-top: 15px;
	}
	/* authors */
	.author-block{
		padding: 0;
		width: 100%;
		padding-top: 70px;
	}
	.author-block h2{
		margin-top: 50px;
	}
	.author-block p{
		width: 100%;
		padding-top: 30px;
	}
	.author-block img{
		float: left;
	}
	.author-block .row{
		padding-bottom: 35px;
		border-bottom: 1px #EDEDED solid;
	}
	.btn-author{
		font-size: 14px;
		text-align: left;
		border: none;
		text-decoration: underline;
		background-color: transparent!important;
		color: #42304f!important;
		box-shadow: none!important;
		line-height: 20px;
		margin: 30px 0 0;
	}
	#authors{
		padding-bottom: 80px;
	}
	/* look */
	.look-left{
		width: 100%;
	}
	.look-left-small{
		display: none;
	}
	.look-right{
		width: 100%;
		margin-left: 0;
	}
	.btn-add-cart{
		width: 100%;
	}
	.btn-add-like{
		width: 100%;
	}
	.look-char li{
		width: 100%;
	}
	.similar-cat-block{
		width: 100%;
		margin-bottom: 20px;
	}
	.similar-cat-block h3{
		position: relative;
		left: 0;
		bottom: 0;
		margin: -60px 0 0;
	}
	.similar-cat-block p{
		position: relative;
		left: 0;
		bottom: 0;
		margin: 10px 0 20px;
	}
	.owl-also-left .owl-prev, .owl-also-left .owl-next, .owl-also-right .owl-prev, .owl-also-right .owl-next{
		display: none!important;
	}
	.owl-look-book .owl-prev, .owl-look-book .owl-next{
		display: none!important;
	}
	.already-look-wrap{
		width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;
	}
	.already-look-wrap::-webkit-scrollbar {
		visibility: hidden;
	}
	#already-look img{
		width: 80%;
	}
	/* shares */
	.share-img-wrap{
		width: 95%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.shares-right{
		width: 100%;
	}
	.shares-title-wrap p{
		width: 100%;
	}
	/* blog */
	.blog-block{
		width: 100%;
		margin: 0;
	}
	#blog &gt; .container &gt; p{
		width: 100%;
	}
	/* brand */
	.brand-block{
		width: 50%;
		margin: 0;
	}
	#brands .brand-also p{
		width: 50%;
		margin: 0 0 40px;
	}
	/* vacancies */
	#vacancies &gt; .title-wrap &gt; p{
		width: 90%;
	}
	.vacancy-block{
		width: 100%;
	}
	.vacancy-hidden ul{
		width: 100%;
	}
	.vacancy-form form p{
		width: 100%;
	}
	.vacancy-form form input[type="submit"]{
		background-position: 33% 20px;
	}
	/* wishlist */
	.profile-wrap p{
		width: 95%;
	}
	.menu-left{
		width: 100%;
	}
	.menu-left ul{
		margin-left: 0;
	}
	.menu-left ul li{
		width: 100%;
		text-align: center;
	}
	.menu-left ul li.active, .menu-left ul li:hover, .menu-left ul li:focus{
		border-right: none;
	}
	.menu-left ul li a{
		padding-right: 0;
	}
	.right-block{
		width: 100%;
		margin-left: 0;
	}
	.wishlist-block{
		width: 50%;
		margin-right: 0;
	}
	.right-block h1{
		text-align: center;
		font-size: 22px;
	}
	#wishlist{
		padding-bottom: 100px;
	}
	/* product */
	.product-plus-block{
		display: block;
		margin: 0 auto 30px;
	}
	.product-plus-block:hover .hiddened{
		z-index: -1;
		opacity: 0;
	}
	/* catalog-all */
	#catalog-all &gt; .container &gt; p{
		width: 90%;
	}
	/* catalog */
	.catalog-right .wishlist-block{
		width: 49%;
	}
	.btn-catalog-more{
		width: 100%;
	}
	.owl-catalog-slider h3{
		top: 30px;
		left: 85px;
		font-size: 14px;
	}
	.owl-catalog-slider h2{
		top: 65px;
		left: 85px;
		font-size: 24px;
		width: 300px;
		line-height: 30px;
	}
	.owl-catalog-slider p.price{
		left: 85px;
		top: 135px;
		font-size: 18px;
	}
	.owl-catalog-slider p.price img{
		width: 8px;
	}
	/* contacts */
	.map-left{
		width: 100%;
		padding-left: 40px;
	}
	.map-right{
		width: 100%;
		margin-top: 75px;
		padding-left: 0;
	}
	#contacts .title-wrap p{
		width: 100%;
	}
	/* content */
	.q-block{
		width: 100%;
	}
	.btn-q-block{
		float: none;
	}
	/* profile */
	#profile .right-block h1{
		text-align: center;
	}
	.btn-profile{
		width: 100%;
		margin: 0!important;
	}
	.profile-form form{
		text-align: left;
	}
	.profile-form input{
		width: 100%;
	}
	.profile-form textarea{
		width: 100%;
	}
	/* about */
	.about-wrap p{
		width: 100%;
	}
	.about-descr h2{
		width: 100%;
	}
	.about-img-wrap img{
		margin: 0 0 10px;
		width: 100%;
	}
	.about-comments-block p{
		width: 100%;
	}
	.about-also-a-wrap{
		width: 100%;
		display: block;
		padding-left: 70px;
	}
	.service-block-wrap{
		display: none;
	}
	.owl-service{
		display: block;
	}
	.service-block{
		width: 100%;
		padding-left: 25%;
	}
	/* order */
	.order-left .profile-form{
		width: 100%;
	}
	.profile-form select{
		width: 100%;
	}
	.profile-form input[type="radio"]:checked + label{
		width: 100%;
	}
	.profile-form input[type="radio"]:not(checked) + label{
		width: 100%;
		line-height: 40px;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.order-right-wrap{
		display: none;
	}
	.order-right-block{
		width: 300px;
		float: none;
		margin: 0 auto;
	}
	.owl-order{
		text-align: center;
	}
	/* portfolio */
	.portfolio-block{
		width: 100%;
		margin-left: 0!important;
		margin-right: 0!important;
		margin-bottom: 20px;
	}
	.advantages-block{
		width: 100%;
		margin: 0 0 40px;
	}
	.advantages-wrap{
		display: none;
	}
	#portfolio{
		/* padding-top: 80px; */
	}
	/* portfolio-work */
	#portfolio-work &gt; .container &gt; p{
		width: 100%;
	}
	.about-project-left{
		width: 100%;
	}
	.about-project-right{
		width: 100%;
	}
	.solution p{
		width: 100%;
	}
	.comment-left{
		width: 100%;
		padding-left: 20%;
		margin-bottom: 40px;
	}
	.comment-small-1{
		width: 100%;
		margin-bottom: 10px;
	}
	.comment-small-2{
		width: 100%;
		margin-bottom: 10px;
	}
	.comment &gt; p{
		width: 100%;
	}
	.comment &gt; h3{
		width: 100%;
	}
	.comment-right{
		width: 100%;
	}
	/* compare */
	.compare-table{
		width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;
		padding-bottom: 40px;
	}
	.compare-table::-webkit-scrollbar{
		height: 4px;
	}
	.compare-table::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 100px #D1D1D1;
		border-radius: 10px;
	}
	.compare-table::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 100px #42304F;
	}
	/* brand-page */
	.brand-name{
		width: 100%;
		margin-bottom: 20px;
		height: 235px;
		padding-top: 145px;
	}
	.brand-video{
		width: 100%;
		height: 235px;
	}
	#brand-page h5{
		width: 100%;
	}
	/* article */
	.img-article-1{
		width: 100%;
		margin-bottom: 15px;
	}
	.img-article-2{
		width: 100%;
	}
	.also-article-block{
		margin: 0;
		width: 100%;
		margin-bottom: 85px;
	}
	/* work-steps */
	.steps hr{
		width: 40px;
	}
	.step-block-txt-right{
		width: 320px;
	}
	.step-block-img-left{
		width: 100%;
		height: auto;
	}
	.step-block-img-right{
		width: 100%;
		height: auto;
	}
	.step-block &gt; h2{
		padding-left: 0;
	}
	.step-block ol{
		width: 100%;
		padding-left: 20px;
	}
	.step-block-img-center-1{
		width: 100%;
		margin-bottom: 20px;
	}
	.step-block-img-center-2{
		width: 100%;
	}
	/* cart */
	#cart .title-wrap p{
		width: 100%;
		padding: 0 10px;
	}
	/* modal */
	.modal-login{
		width: 100%;
	}
	.modal-registration{
		width: 100%;
	}
	.modal-callback{
		width: 100%;
	}
	/* brand-page */
	.f-col-block{
		width: 100%;
		margin: 0;
	}
	/* cart */
	.cart, #basket_items_list .bx_ordercart_order_table_container{
		width: 100%;
		padding: 0 10px;
	}
	#basket_items_list .bx_ordercart_order_pay{
		width: 100%;
		padding: 0 10px;
	}
	#basket_items_list .bx_ordercart_order_table_container table thead td.price, #basket_items_list .bx_ordercart_order_table_container table thead td.custom{
		padding: 0;
		text-align: center;
	}
	#basket_items_list .centered input[type="text"]{
		margin: 0 -5px;
	}
	#basket_items_list .bx_ordercart_order_table_container tbody td.price .current_price{
		font-size: 16px;
	}
	#basket_items_list .bx_ordercart_order_table_container tbody td.custom{
		padding: 50px 0 0 20px;
	}
	#basket_items_list .bx_ordercart_order_table_container tbody td.price{
		padding: 50px 0 0 15px;
	}
	#news .container{
		padding: 0 0 0 10px;
	}
}
@media only screen and (max-width : 480px) {
	.nav-bottom li.menu-img a{
		margin: 0;
	}
	.nav-bottom li.menu-img{
		margin: 0 5px;
	}
        .owl-banner .owl-dots{
                margin-top: 0px;
        }
	.owl-banner .owl-dot{
                display: none;
        }
	.bg-img-div{
		height: 170px;
	}
	.trend-block img{
		height: auto;
	}
	.vacancy-form form input[type="submit"]{
		background-image: none;
	}
	/* index */
	.owl-banner .owl-dot{
		margin: 0 7px;
		width: 5px;
		height: 5px;
	}
	.owl-banner .owl-dot.active{
		width: 10px;
		height: 10px;
	}
	#news h2{
		font-size: 16px;
		margin-left: 0;
	}
	.owl-news{
		margin-top: 0;
	}
	.owl-news .item h3{
		font-size: 13px;
		line-height: 20px;
		margin-top: 0;
	}
	.owl-news .item p{
		font-size: 12px;
		bottom: 0px;
	}
	.owl-news .item img{
		margin-bottom: 10px;
	}
	.mobile-a a{
		margin-left: 10px;
	}
	.news-bottom p{
		width: 70%;
		vertical-align: middle;
	}
	.news-bottom img{
		margin-left: 15px;
		margin-top: 15px;
	}
	#portfolio h3{
		margin-bottom: 30px;
	}
	#portfolio &gt; .container &gt; h2{
		font-size: 22px;
		line-height: 31px;
		width: 90%;
		margin: 0 auto 45px;
	}
	.nav-tabs{
		margin-top: 65px;
	}
	.tab-block h2{
		font-family: 'AcromMedium';
		margin: 20px 0 0 5px;
	}
	.tab-block p{
		margin: 10px 0 0 5px;
	}
	.btn-portfolio{
		line-height: 50px;
		font-size: 13px;
	}
	.btn-portfolio img{
		width: 20px;
	}
	#hits{
		padding-top: 100px;
		padding-bottom: 55px;
	}
	#hits h2{
		font-size: 22px;
	}
	#hits p{
		font-size: 14px;
		width: 90%;
		margin: 0 auto;
	}
	#trend{
		padding-top: 65px;
	}
	#trend h2{
		font-size: 16px;
		margin-bottom: 35px;
	}
	#trend h2 img{
		width: 25px;
		margin-left: 10px;
	}
	.trend-block h3{
		font-size: 13px;
		margin: 13px 0 8px;
	}
	.trend-block p{
		font-size: 11px;
	}
	.trend-block h4{
		font-size: 16px;
		margin: 15px 0 0;
	}
	.trend-block{
		margin-bottom: 10px;
	}
	.btn-trend{
		margin-top: 0;
		line-height: 50px;
		font-size: 13px;
	}
	.btn-trend img{
		width: 20px;
	}
	#top{
		padding-top: 65px;
		margin-top: 0;
		padding-bottom: 0;
	}
	#top h2{
		font-size: 16px;
		margin: 0 0 30px;
		width: 95%;
		line-height: 22px;
	}
	.top-right-txt{
		width: 82%;
	}
	#social{
		padding-top: 75px;
		padding-bottom: 65px;
	}
	#social h2{
		font-size: 16px;
		width: 90%;
		line-height: 22px;
		margin: 0 auto 50px;
	}
	.footer-block-right p.phone{
		font-size: 23px;
	}
	.btn-consult{
		width: 100%;
	}
	.footer-after{
		height: 195px;
		padding-top: 65px;
	}
	.footer-after h2{
		font-size: 20px;
		line-height: 26px;
	}
	.footer-after p{
		display: none;
	}
	.mobile-menu-top ul li{
		padding-left: 15px;
	}
	.mobile-menu-bottom ul li{
		padding-left: 15px;
	}
	/* cooperation */
	#cooperation h1{
		font-size: 24px;
	}
	#cooperation p{
		font-size: 14px;
	}
	#cooperation h2{
		font-size: 16px;
		line-height: 25px;
	}
	#cooperation h3{
		font-size: 14px;
		line-height: 20px;
	}
	#why-coop h2{
		font-size: 22px;
		line-height: 33px;
		margin: 0 0 70px;
	}
	.why-coop-block h3{
		font-size: 15px;
		line-height: 22px;
		margin: 25px 0 15px;
	}
	#contacts-form{
		padding-top: 50px;
	}
	#contacts-form h2{
		font-size: 22px;
		line-height: 32px;
	}
	#contacts-form form{
		margin-top: 45px;
	}
	.btn-vacancy-form{
		font-size: 15px;
		margin-bottom: 45px;
	}
	/* authors */
	#authors h1{
		font-size: 24px;
		margin: 0 0 30px;
	}
	#authors &gt; .container &gt; p{
		font-size: 14px;
		line-height: 19px;
	}
	.authors-tab{
		margin-top: 50px;
	}
	.authors-tab .nav-tabs &gt; li &gt; a{
		font-size: 14px;
		padding-bottom: 10px;
	}
	.nav-tabs{
		padding-bottom: 40px;
		border-bottom: 1px #EEEEEE solid;
	}
	.author-block img{
		width: 85px;
		margin-right: 20px;
	}
	.author-block h2{
		font-size: 15px;
		text-align: left;
		margin-top: 20px;
	}
	.author-block h3{
		font-size: 12px;
		text-align: left;
	}
	.author-block p{
		font-size: 13px;
	}
	.btn-author{
		padding-left: 0;
	}
	/* look */
	.look-right h1{
		font-size: 22px;
	}
	.look-right p.look-collection{
		font-size: 13px;
		margin: 10px 0 10px;
	}
	.look-right p.look-compare a{
		font-size: 13px;
	}
	.look-right h2{
		font-size: 25px;
	}
	.look-right h2 img{
		width: 12px;
	}
	.btn-add-cart{
		font-size: 12px;
		margin: 35px 0 0;
	}
	.btn-add-like{
		font-size: 12px;
	}
	.look-char{
		padding-top: 35px;
		margin-bottom: 30px;
	}
	.look-right p.look-descr{
		font-size: 13px;
		line-height: 20px;
	}
	#look{
		padding-bottom: 0;
		border-bottom: none;
	}
	#look-book h2{
		font-size: 22px;
		text-align: center;
		width: 90%;
		margin: 90px auto 50px;
	}
	.owl-look-book .look-book-block h3{
		font-size: 14px;
	}
	#also{
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.also-left-person img{
		width: 70px;
	}
	.also-left-person h3{
		font-size: 20px;
		margin: 10px 0 45px;
	}
	.also-left-person h4{
		font-size: 15px;
	}
	.also-left-person p{
		font-size: 13px;
	}
	.also-right h3{
		font-size: 20px;
	}
	#similar-cat{
		padding-top: 50px;
		padding-bottom: 60px;
	}
	#similar-cat .container{
		padding: 0;
	}
	#similar-cat h2{
		font-size: 20px;
		margin: 0 0 40px;
	}
	.similar-cat-block h3{
		font-size: 18px;
		text-align: left;
		padding-left: 10px;
	}
	.similar-cat-block p{
		font-size: 11px;
		text-align: left;
		padding-left: 10px;
	}
	#already-look{
		padding-top: 60px;
		padding-bottom: 70px;
	}
	#already-look h2{
		font-size: 20px;
		margin: 0 0 60px;
	}
	/* shares */
	#shares h1{
		font-size: 24px;
		margin: 0 0 25px;
	}
	.shares-title-wrap{
		padding-bottom: 65px;
	}
	.shares-right h4{
		font-size: 13px;
	}
	.shares-right h3{
		font-size: 16px;
		line-height: 22px;
		margin: 15px 0 25px;
	}
	.shares-block{
		padding-bottom: 80px;
	}
	.pagination .page{
		margin: 0 4px;
	}
	.pagination{
		margin: 10px 0 30px;
	}
	/* blog */
	#blog h1{
		font-size: 24px;
	}
	#blog &gt; .container &gt; p{
		font-size: 14px;
	}
	.blog-tab .nav-tabs &gt; li &gt; a{
		padding-bottom: 5px;
		font-size: 14px;
	}
	.blog-tab .tab-content{
		margin-top: 65px;
	}
	.blog-block p.cat{
		font-size: 12px;
	}
	.blog-block h2{
		font-size: 16px;
		line-height: 24px;
	}
	.blog-block h3{
		font-size: 13px;
		margin: 20px 0;
	}
	.blog-block{
		padding-bottom: 50px;
	}
	/* brand */
	#brands h1{
		font-size: 24px;
	}
	#brands &gt; .title-wrap &gt; p{
		width: 90%;
	}
	.title-wrap{
		padding-bottom: 55px;
	}
	.brands-wrap{
		padding-top: 80px;
	}
	.brand-block h2{
		font-size: 13px;
	}
	.brand-hr{
		display: none;
	}
	#brands h3{
		width: 100%;
		margin: 0 auto 55px;
		font-size: 22px;
		line-height: 33px;
	}
	#brands{
		padding-bottom: 85px;
	}
	/* vacancies */
	#vacancies h1{
		font-size: 24px;
		margin: 0 0 25px;
	}
	.vacancy-block{
		padding: 60px 0;
	}
	.vacancy-block h2{
		font-size: 20px;
		margin: 20px 0 25px;
	}
	.vacancy-block h3{
		font-size: 16px;
		line-height: 26px;
		margin: 0 0 40px;
	}
	.vacancy-block p.descr{
		font-size: 13px;
	}
	.vacancy-form{
		padding-top: 90px;
	}
	.vacancy-form h2{
		font-size: 22px;
	}
	.vacancy-form form{
		margin-top: 40px;
	}
	.vacancy-form form input{
		width: 100%;
		margin-top: 10px;
	}
	.vacancy-form form textarea{
		margin-top: 10px;
	}
	.btn-vacancy-form{
		margin-bottom: 30px;
	}
	#vacancies{
		padding-bottom: 90px;
	}
	/* wishlist */
	.profile-wrap{
		height: 185px;
		-webkit-background-size: cover;
		background-size: cover;
		margin: 0 0 30px;
	}
	.profile-wrap h1{
		font-size: 24px;
		font-family: 'AcromBold';
		margin: 0 0 50px;
	}
	.profile-wrap p{
		display: none;
	}
	.menu-left ul{
		margin-bottom: 55px;
	}
	.wishlist-block h2{
		font-size: 11px;
	}
	.wishlist-block p{
		font-size: 10px;
	}
	.wishlist-block p.price{
		font-size: 15px;
	}
	#wishlist{
		padding-bottom: 55px;
	}
	/* product */
	.look-size ul li{
		font-size: 12px;
		line-height: 22px;
	}
	#product-block{
		padding-top: 55px;
		border-top: 1px #E2E2E2 solid;
		margin-top: 50px;
	}
	.product-block-left h2{
		font-size: 20px;
	}
	.product-block-left h2 img{
		display: none;
	}
	.product-block-left p{
		width: 100%;
		font-size: 13px;
	}
	.product-block-left h3{
		font-size: 19px;
		margin: 30px 0 0;
	}
	.product-block-right h2{
		font-size: 20px;
		margin: 0 0 40px;
	}
	#product-block{
		padding-bottom: 30px;
	}
	/* catalog-all */
	#catalog-all h1{
		font-size: 24px;
		margin: 0 0 25px;
	}
	#catalog-all .container{
		padding: 0;
	}
	.catalog-all-block{
		padding-top: 40px;
	}
	.catalog-all-block-title h2{
		font-size: 17px;
	}
	.catalog-all-block-ul{
		width: 100%;
		padding-left: 70px;
	}
	/* catalog */
	.catalog-right h3{
		display: block;
		color: #000;
		font-size: 24px;
		margin: 0 0 60px;
		font-family: 'AcromBold';
	}
	.catalog-right h1{
		font-size: 10px;
	}
	.catalog-filter p img{
		margin: 0 15px;
	}
	.catalog-filter &gt; img{
		width: 27px;
		margin-top: 15px;
		margin-right: 10px;
	}
	.catalog-filter{
		margin: 35px 0 30px;
	}
	.catalog-filter p{
		line-height: 55px;
	}
	.btn-catalog-more{
		line-height: 50px;
		font-size: 11px;
	}
	#hit{
		padding-top: 75px;
	}
	#hit &gt; .container &gt; h2{
		font-size: 30px;
		margin: 0 0 15px;
	}
	#hit &gt; .container &gt; p{
		font-size: 14px;
	}
	.owl-catalog-slider .owl-prev, .owl-catalog-slider .owl-next{
		display: none!important;
	}
	.owl-catalog-slider .owl-controls .owl-dots{
		left: 10px;
		bottom: 10px;
	}
	.owl-catalog-slider .owl-controls .owl-dot{
		width: 5px;
		height: 5px;
	}
	.owl-catalog-slider h3{
		font-size: 6px;
		top: 25px;
		left: 10px;
	}
	.owl-catalog-slider h2{
		font-size: 13px;
		top: 45px;
		width: 150px;
		left: 10px;
		line-height: 17px;
	}
	.owl-catalog-slider p.price{
		font-size: 11px;
		left: 10px;
		top: 85px;
	}
	.owl-catalog-slider p.price img{
		width: 5px;
		margin-top: -1px;
	}
	/* contacts */
	#contacts h1{
		font-size: 24px;
		margin: 0 0 25px;
	}
	#contacts .map{
		padding: 60px 0;
	}
	.map-left{
		padding-left: 0;
	}
	.map-left h2{
		font-size: 16px;
	}
	.map-left h3{
		margin: 35px 0 15px;
		font-size: 12px;
	}
	.map-left p{
		font-size: 12px;
		line-height: 21px;
	}
	/* content */
	#content .right-block h1{
		text-align: left;
	}
	#content p{
		font-size: 13px;
		line-height: 20px;
		margin: 0;
		/* padding-top: 80px; */
	}
	.q-block{
		padding: 60px 0 0;
	}
	.q-block h2{
		font-size: 18px;
		margin: 0 0 15px;
	}
	.q-block h3{
		font-size: 15px;
		line-height: 21px;
	}
	.btn-q-block{
		margin: 35px 0 0;
		width: 100%;
		font-size: 14px;
	}
	.q-block h4{
		margin: 30px 0 0;
	}
	#content{
		padding-bottom: 75px;
	}
	/* profile */
	#profile .right-block h1{
		font-size: 22px;
		margin: 0 0 55px;
	}
	.profile-form label{
		font-size: 13px;
		margin: 0;
	}
	.profile-form input{
		margin: 0;
	}
	.profile-form textarea{
		margin: 0;
	}
	.btn-profile{
		margin: 35px 0 0!important;
		font-size: 15px;
	}
	#profile{
		padding-bottom: 80px;
	}
	/* about */
	.about-wrap h1{
		font-size: 24px;
		margin: 45px 0 30px;
	}
	.about-wrap p{
		font-size: 13px;
		line-height: 24px;
	}
	.about-wrap{
		height: 345px;
	}
	.about-descr{
		margin-top: -25px;
		padding: 55px 0;
	}
	.about-descr h2{
		font-size: 16px;
		line-height: 27px;
		width: 245px;
		padding-bottom: 70px;
	}
	.about-descr p{
		font-size: 14px;
		line-height: 21px;
	}
	.about-img-wrap p{
		font-size: 12px;
		margin: 30px 0 0;
	}
	#about h3{
		margin: 50px 0 90px;
		font-size: 16px;
		line-height: 23px;
	}
	#mission{
		padding-top: 70px;
		padding-bottom: 145px;
	}
	#mission .container{
		padding: 0;
	}
	#mission h2{
		font-size: 18px;
		margin: 0 0 35px;
		text-align: center;
	}
	#mission h3{
		font-size: 15px;
		line-height: 23px;
		padding: 0 10px;
		margin: 35px 0 30px;
	}
	#mission p{
		font-size: 14px;
		line-height: 21px;
		padding: 0 10px;
	}
	.mission-right{
		margin-top: 80px;
	}
	.order-left .profile-form{
		padding: 0 10px;
	}
	#service{
		padding-top: 0;
	}
	#service h2{
		font-size: 18px;
		line-height: 27px;
		margin: 0 0 25px;
	}
	#service &gt; .container &gt; p{
		font-size: 13px;
		line-height: 20px;
		margin: 0 0 50px;
	}
	.service-block{
		padding-left: 25px;
		padding-bottom: 0;
	}
	.service-block-descr{
		width: 230px;
		padding-left: 50px;
	}
	.service-block img{
		margin-top: 25px;
	}
	.service-block-descr h3{
		font-size: 14px;
		margin: 15px 0 25px;
	}
	.service-block-descr p.descr{
		font-size: 13px;
	}
	#about-comments{
		padding-top: 120px;
	}
	.about-comments-block img{
		width: 115px;
		box-shadow: 8px 8px 10px rgba(0,0,0,0.24);
	}
	.about-comments-block{
		padding-top: 0;
		padding-bottom: 100px;
	}
	.about-comments-block h2{
		font-size: 15px;
		line-height: 25px;
		margin: 35px 0 40px;
	}
	.about-comments-block p{
		font-size: 14px;
		line-height: 20px;
		text-align: center;
	}
	.about-comments-block .right-quote, .about-comments-block .left-quote{
		display: none;
	}
	#about-also{
		padding-top: 65px;
	}
	#about-also h2{
		font-size: 20px;
		line-height: 31px;
		margin: 0 0 60px;
	}
	.about-also-a-wrap{
		padding-left: 0;
		text-align: left;
	}
	#about-also a img{
		margin: 0 25px 0 30px;
	}
	#about-also a{
		font-size: 15px;
	}
	#about-also{
		padding-bottom: 50px;
	}
	/* order */
	#order .container{
		padding: 0;
	}
	#order h1{
		font-size: 24px;
		text-align: center;
		margin: 0 0 45px;
	}
	.profile-form input[type="radio"]:not(checked) + label{
		margin: 25px 0 0;
	}
	.order-price{
		margin-top: 45px;
		padding: 45px 10px 0 10px;
		border-left: none;
		border-right: none;
	}
	.order-price h2{
		font-size: 16px;
	}
	.order-left .profile-form form{
		padding: 0 10px;
	}
	.btn-order{
		line-height: 50px;
		width: 100%;
		font-size: 15px;
		margin-bottom: 60px;
	}
	.order-right{
		padding-top: 0;
	}
	.order-right-block img{
		float: none;
		margin: 0 auto 20px;
	}
	.order-right-block-descr{
		float: none;
		padding-left: 0;
		margin: 0 auto;
	}
	.order-right-block-descr p{
		text-align: left;
	}
	/* portfolio */
	#portfolio h1{
		font-size: 24px;
		margin: 0 0 20px;
	}
	#portfolio &gt; .container &gt; p{
		font-size: 14px;
		line-height: 20px;
	}
	#portfolio .authors-tab .tab-content{
		padding-top: 10px;
		padding-bottom: 65px;
	}
	#portfolio .authors-tab .container{
		padding: 0;
	}
	.portfolio-block h2{
		padding-left: 10px;
	}
	.portfolio-block p{
		padding: 0 10px;
	}
	#advantages{
		padding-top: 65px;
		padding-bottom: 70px;
	}
	#advantages h2{
		font-size: 22px;
		line-height: 34px;
	}
	#advantages &gt; .container &gt; p{
		font-size: 13px;
		margin: 0 0 65px;
	}
	.advantages-block p{
		width: 245px;
		margin: 0 auto;
	}
	.advantages-block{
		margin-bottom: 0;
	}
	/* portfolio-work */
	#portfolio-work h1{
		font-size: 24px;
		line-height: 32px;
		margin: 0 0 35px;
	}
	#portfolio-work &gt; .container &gt; p{
		font-size: 14px;
		line-height: 20px;
		padding: 0 10px;
	}
	#portfolio-work .container{
		padding: 0;
	}
	.owl-portfolio .owl-next, .owl-portfolio .owl-prev{
		display: none!important;
	}
	.owl-portfolio .owl-dots{
		margin-top: 20px;
	}
	.about-project h2{
		font-size: 23px;
		padding: 0 10px;
		margin: 0 0 35px;
	}
	.about-project-left{
		padding: 0 10px;
	}
	.about-project-left h3{
		font-size: 16px;
		margin: 0 0 35px;
	}
	.about-project-left p{
		font-size: 13px;
		line-height: 20px;
		margin: 0 0 40px;
	}
	#portfolio-work hr{
		margin: 30px 0 0;
	}
	.about-project-right{
		padding: 0 10px;
	}
	.about-project{
		/* padding-bottom: 70px; */
	}
	.solution{
		padding: 30px 10px 0;
	}
	.solution h2{
		font-size: 23px;
		margin: 0 0 35px;
	}
	.solution p{
		font-size: 13px;
		line-height: 20px;
	}
	.js-stuff{
		margin-top: 70px;
	}
	.comment{
		padding-top: 75px;
	}
	.comment-left{
		padding-left: 25%;
		width: 270px;
	}
	.comment-left img{
		margin-left: 30px;
	}
	.comment-right{
		padding: 0 20px;
		font-size: 13px;
	}
	.comment-full{
		margin: 50px 0 10px;
	}
	.comment-small-1{
		width: 48.5%;
	}
	.comment-small-2{
		width: 48.5%;
	}
	.comment &gt; p{
		font-size: 13px;
		padding: 0 10px;
		margin: 0;
	}
	.comment &gt; h3{
		font-size: 16px;
		line-height: 25px;
		padding: 0 10px;
		margin: 70px 0 45px;
	}
	.btn-portfolio-work{
		line-height: 60px;
		font-size: 14px;
		width: 95%;
	}
	#portfolio-work{
		 /* padding-bottom: 100px; */
	}
	#team-project{
		padding-top: 60px;
	}
	.team-project-wrap h2{
		font-size: 21px;
		margin: 0 0 60px;
	}
	.team-project-block img{
		width: 90px;
		margin-right: 20px;
	}
	.team-project-block h3{
		margin-bottom: 15px;
	}
	.team-project-block h4{
		font-size: 13px;
	}
	.team-project-block a{
		font-size: 13px;
	}
	.team-project-block{
		margin-bottom: 50px;
	}
	/* compare */
	#compare h1{
		font-size: 24px;
		margin: 0 0 105px;
	}
	.compare-param{
		padding-left: 30px;
	}
	.compare-param h2{
		font-size: 17px;
	}
	.compare-param input[type="checkbox"]:not(checked) + label{
		font-size: 13px;
		font-family: 'AcromRegular';
		width: 120px;
		margin-right: 0;
		margin-left: 0;
		vertical-align: top;
		padding-left: 20px;
	}
	/* brand-page */
	#brand-page h1{
		font-size: 24px;
	}
	.brand-name h2{
		font-size: 28px;
	}
	.brand-name h3{
		font-size: 11px;
	}
	.brand-video img{
		width: 55px;
		top: 40%;
		left: 40%;
	}
	.brand-wrap{
		margin-bottom: 55px;
	}
	#brand-page h4{
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 55px;
	}
	#brand-page h5{
		font-size: 14px;
		line-height: 20px;
	}
	#brand-page{
		padding-bottom: 80px;
	}
	#f-col h2{
		margin: 0 0 40px;
		font-size: 24px;
	}
	#f-col{
		padding-bottom: 60px;
	}
	/* article */
	#article h2{
		font-size: 14px;
	}
	#article h1{
		font-size: 24px;
		line-height: 31px;
		margin: 0 0 45px;
	}
	#article .container{
		padding: 0;
	}
	#article h3{
		font-size: 20px;
		line-height: 29px;
		margin: 50px 0 40px;
		padding: 0 10px;
	}
	#article p{
		font-size: 13px;
		line-height: 20px;
		padding: 0 10px;
		margin: 0 0 45px;
	}
	.img-article-1, .img-article-2{
		padding: 0 10px;
	}
	.article-wrap hr{
		margin: 80px 0 70px;
	}
	.article-like{
		padding-top: 30px;
		padding-bottom: 80px;
	}
	.article-like h4{
		font-size: 22px;
	}
	#also-article{
		padding-top: 70px;
		padding-bottom: 0;
	}
	#also-article h2{
		font-size: 22px;
		margin: 0 0 75px;
	}
	/* work-steps */
	.work-steps-wrap{
		height: 255px;
	}
	.work-steps-wrap h1{
		font-size: 24px;
		margin: 0;
	}
	.work-steps-wrap p{
		display: none;
	}
	.steps-top{
		margin-top: -20px;
		padding: 50px 0 0;
	}
	.steps-top h3{
		font-size: 12px;
		margin: 0 0 15px;
	}
	.steps-top h2{
		font-size: 22px;
		margin: 0 0 35px;
	}
	.steps-top p{
		margin: 0 0 70px;
		font-size: 14px;
		line-height: 20px;
	}
	.step .step-number{
		width: 35px;
		height: 35px;
		font-size: 16px;
		padding-top: 3px;
	}
	.step h2{
		font-size: 10px;
		margin: 20px auto 0;
		width: 75px;
	}
	.steps hr{
		margin-top: 16px;
		width: 35px;
	}
	.step{
		width: 100px;
		margin: 0 -25px;
	}
	.step-block{
		padding-top: 85px;
	}
	.step-block-number{
		margin-right: 20px;
		margin-bottom: 30px;
	}
	.step-block-txt-right{
		width: 100%;
		float: none;
	}
	.step-block-txt-right h2{
		font-size: 22px;
	}
	.step-block-txt-right h3{
		font-size: 18px;
	}
	.step-block-txt-right p{
		font-size: 14px;
		line-height: 20px;
	}
	.step-block-img-left{
		margin-top: 55px;
	}
	.step-block &gt; h2{
		font-size: 18px;
		line-height: 26px;
		margin: 40px 0 35px;
	}
	.step-block ol li{
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 20px;
	}
	.step-block ol{
		margin-bottom: 70px;
	}
	.step-block &gt; h3{
		font-size: 19px;
		line-height: 27px;
		margin: 60px 0 30px;
	}
	.step-block &gt; h4{
		font-size: 16px;
		line-height: 23px;
		margin: 0 0 35px;
	}
	.step-block &gt; p{
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 70px;
	}
	.step-block &gt; h5{
		margin: 50px 0 45px;
		font-size: 16px;
		line-height: 26px;
	}
	.btn-next-step{
		font-size: 12px;
		line-height: 55px;
	}
	.step-block{
		padding-bottom: 95px;
	}
	/* cart */
	.cart-block-name &gt; img{
		margin: 10px auto;
		float: none;
		display: block;
		max-width: 100%;
	}
	#cart h1{
		font-size: 24px;
	}
	.cart-head{
		display: none;
	}
	.cart-block-name{
		width: 100%;
	}
	.cart-block-name h3{
		margin-top: 20px;
	}
	.cart-block{
		padding-top: 60px;
		height: auto;
		padding-bottom: 50px;
		text-align: center;
	}
	.cart-block-number{
		display: block;
		padding: 0;
		width: 100%;
		margin: 20px auto 0;
		text-align: center;
	}
	.cart-block-price{
		display: block;
		padding: 0;
		width: 100%;
		margin-top: 20px;
		text-align: center;
	}
	.cart-block-name-img{
		margin: 10px auto 10px;
		float: none;
	}
	.cart-footer h5{
		padding: 0;
		text-align: center;
		font-size: 20px;
	}
	.btn-cart{
		font-size: 16px;
		line-height: 60px;
		width: 100%;
	}
	#cart-hit{
		padding-top: 70px;
	}
	#cart-hit h2{
		font-size: 20px;
	}
	.cart-block-number-mobile{
		display: block;
		padding: 0;
		width: 59%;
		margin-top: 20px;
		margin: 20px auto 0;
	}
	.cart-block-price-mobile{
		display: block;
		padding: 0;
		width: 59%;
		margin-top: 20px;
	}
	.cart-block-number button img{
		margin: 0;
	}
	.cart-block-name h3{
		width: 100%;
		float: none;
		text-align: center;
	}
	.cart-block-name h4{
		width: 59%;
		float: left;
	}
	/* modal */
	.modal-login{
		border: none;
		border-top: 35px #F4F4F4 solid;
		border-bottom: 35px #F4F4F4 solid;
		padding-left: 25px;
		padding-right: 25px;
		min-height: 500px;
	}
	.modal-registration{
		border: none;
		border-top: 35px #F4F4F4 solid;
		border-bottom: 35px #F4F4F4 solid;
		padding-left: 25px;
		padding-right: 25px;
		min-height: 500px;
	}
	.modal-callback{
		border: none;
		border-top: 35px #F4F4F4 solid;
		border-bottom: 35px #F4F4F4 solid;
		padding-left: 25px;
		padding-right: 25px;
		min-height: 500px;
	}
	.modal-wrap h2{
		font-size: 20px;
		margin: 60px 0 35px;
		line-height: 27px;
	}
	.modal-registration h2{
		margin: 45px 0 15px;
	}
	.modal-wrap img{
		width: 25px;
	}
	.modal-wrap .form, .modal-wrap form{
		width: 100%;
	}
	.modal-wrap input{
		width: 100%;
		line-height: 40px;
	}
	.btn-modal{
		font-size: 14px;
		line-height: 45px;
	}
	.modal-callback p{
		max-width: 100%;
	}
	/* cart */
	#basket_items_list .bx_ordercart_order_table_container tbody td.itemphoto{
		padding: 70px 25px 70px 15px;
	}
	/* shares */
	.share-img-wrap{
		width: 100%;
	}
	.share-img-wrap img.img-price-off{
		right: 0;
	}
	.share-img-wrap p{
		right: 20px;
	}
	/* filters */
	.catalog-filter &gt; .row &gt; img{
		width: 30px;
		margin-right: 12px;
	}
	.catalog-filter-open{
		padding: 0;
	}
	.catalog-filter-open-block{
		margin: 0 0 20px;
		min-height: auto;
	}
	.bx-filter .bx-ui-slider-track-container{
		margin: 30px 0 0;
		display: block;
		max-width: 100%;
	}
	#set_filter{
		margin: 30px 0 0;
		max-width: 100%;
	}
	#del_filter{
		margin: 30px auto;
	}
	#brands .brand-also p{
		font-size: 14px;
		height: 25px;
	}
	.article-wrap{
		padding: 0 15px;
	}
	.article-wrap h3{
		font-size: 16px;
		line-height: 23px;
	}
	#blog h2 {
    font-size: 14px;
	}
	.owl-hits .owl-dots{
		text-align: center;
	}
	.owl-hits .owl-dot{
		display: inline-block;
		vartical-align: middle;
		margin: 0 5px;
	}
	.owl-hits .owl-dot span{
		display: block;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		border: 1px transparent solid;
		background-color: #9a2d4d;
	}
	.owl-hits .owl-dot.active span{
		background-color: #fff;
		border: 1px #9a2d4d solid;
	}
	/* search */
	.search-input {
		max-width: 250px;
		width: 100%;
		display: block;
		margin: 20px auto 0px;
	}
	.search-submit{
		width: 150px;
		display: block;
		margin: 0 auto;
	}
	.catalog-all-block-ul{
		padding-bottom: 10px;
	}
	.catalog-all-block-ul h3 {
		margin-bottom: 15px;
	}
	.catalog-all-block{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.catalog-all-block-title{
		margin-bottom: 30px;
		height: 75px;
	}
	.catalog-all-block-title h2{
		line-height: 75px;
	}
	.footer-bottom{
		height: auto;
		padding: 10px;
	}
	.footer-bottom > .container > a{
		margin: 0;
		width: 100%;
		text-align: center;
		line-height: 2.5;
	}
	.footer-bottom p{
		line-height: 2.5;
		margin: 0;
	}
}
@media only screen and (max-width : 320px) {
	/* cart */
	.cart-block{
		text-align: left;
	}
	.nav-bottom li.menu-img{
		margin: 0;
	}
}
@media only screen and (min-width : 769px) {
	.owl-service{
		display: none!important;
	}
	.owl-advantages{
		display: none!important;
	}
	.owl-order{
		display: none!important;
	}
}
