@font-face {
  font-family: 'Acrom-Light';
  src: url('Acrom-Light.eot');
  src: url('Acrom-Light.woff2') format('woff2'),
       url('Acrom-Light.woff') format('woff'),
       url('Acrom-Light.ttf') format('truetype'),
       url('Acrom-Light.svg#Acrom-Light') format('svg'),
       url('Acrom-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

