@font-face {
  font-family: 'Acrom-Bold';
  src: url('Acrom-Bold.eot');
  src: url('Acrom-Bold.woff2') format('woff2'),
       url('Acrom-Bold.woff') format('woff'),
       url('Acrom-Bold.ttf') format('truetype'),
       url('Acrom-Bold.svg#Acrom-Bold') format('svg'),
       url('Acrom-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

