/*Общее*/
.color_white {
    color: #ffffff;
}

.font_bold {
    font-weight: bold;
}

/*Шапка*/
.navbar-top-search.search-rigth {
    float: right;
    margin: 47px 20px 0 35px;
}

.nav-top .navbar-top-right li a {
    color: #ffffff;
    padding: 13px 20px !important;
}

.nav-top .navbar-top-right li a.none_color {
    color: #B99CCE;
}

.navbar-top-right li.profile a {
    padding: 12px 20px !important;
}

.nav-bottom.nav-bottom_white {
    background: #F6F6F6;
    height: auto;
}

.nav-bottom.nav-bottom_white li a {
    color: #42304F;
}

.nav-bottom.nav-bottom_white  li.menu-img .p-wrap {
    right: 0;
    top: 53px;
    background: #42304F;
    border: none;
    width: 15px;
    height: 16px;
}

.nav-bottom.nav-bottom_white li.menu-img p {
    color: #ffffff;
}

.nav-bottom.nav-bottom_white .navbar-top-search.search-rigth {
    border: 1px solid #83314D;
    border-radius: 18px;
    padding: 3px 0;
}

.nav-bottom.nav-bottom_white .navbar-top-search.search-rigth:hover {
    background: #ffffff;
}

.nav-bottom.nav-bottom_white .navbar-top-search input[type="submit"] {
    background-image: url("./img/search-black.svg");
}

.nav-bottom.nav-bottom_white .navbar-top-search input[type="search"] {
    max-width: 240px;
    color: #000000;
}

.nav-bottom.nav-bottom_white .nav-bottom-menu li a {
    line-height: 134px;
    font-weight: bold;
}

.nav-bottom.nav-bottom_white .nav-bottom-menu li a:hover {
    color: #83314D;
}

.nav-bottom.nav-bottom_white.nav-bottom-small li.menu-img {
    line-height: 120px;
}

.nav-bottom.nav-bottom_white .dropdown_menu {
    box-shadow: 0 -10px 15px rgba(131, 49, 77, 0.1);
    margin-top: -50px;
    background: #ffffff;
}

.nav-bottom.nav-bottom_white li.menu-img svg:hover {
    background-color: #ffffff;
    border-radius: 50%;
}

.nav-bottom.nav-bottom_white .dropdown_menu li {
    width: 100%;
}

.nav-bottom.nav-bottom_white .dropdown_menu li:hover {
    background: rgba(131, 49, 77, 0.1);
}

.nav-bottom.nav-bottom_white .dropdown_menu li:hover a {
    color: #83314D;
}

.nav-bottom.nav-bottom_white .dropdown_menu li a {
    width: 100%;
    color: #42304F;
}

/*Основной баннер на главной*/
#banner,
#banner-marketing {
    background: #F6F6F6;
}

.margin-content #banner {
    margin-top: 0;
}

.big-banner .banner-left {
    width: 100%;
}

.big-banner .owl-banner .owl-dots {
    margin-top: -60px;
    padding-bottom: 30px;
}

.big-banner .owl-banner .owl-dots .owl-dot {
    border: 1px solid #ffffff;
    background: transparent;
    margin: 0 5px;
}

.big-banner .owl-banner .owl-dots .owl-dot.active {
    border: 1px solid #ffffff;
    background: #ffffff;
}

.owl-banner .owl-next{
    font-size: 0;
    width: 22px;
    height: 50px;
    background-image: url('./img/owl-banner-right.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 30px;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}
.owl-banner .owl-prev{
    font-size: 0;
    width: 22px;
    height: 50px;
    background-image: url('./img/owl-banner-left.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 30px;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

#banner-marketing {
    padding: 60px 0;
}

.banner-marketing {
    background: #ffffff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-marketing__logo {
    display: block;
    margin-right: 20px;
}

.banner-marketing__desc {
    text-transform: uppercase;
    font-family: 'AcromBold';
    font-size: 15px;
    color: #000;
    max-width: 697px;
}

#social {
    padding-bottom: 60px;
}

#news {
    border: none;
    padding-top: 20px;
}

.news-title.row {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

#news .news-title a {
    position: absolute;
    right: 0;
}

.owl-news {
    padding: 0 86px;
}

#top .row .owl-dots {
    text-align: left;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-top: -45px;
}

#top .row .owl-dots .owl-dot {
    border: 1px solid #ffffff;
    background: transparent;
    margin: 0 5px;
}

#top .row .owl-dots .owl-dot.active {
    border: 1px solid #ffffff;
    background: #ffffff;
}

#top .row .owl-next{
    font-size: 0;
    width: 22px;
    height: 50px;
    background-image: url('./img/owl-top-right.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 30px;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}
#top .row .owl-prev{
    font-size: 0;
    width: 22px;
    height: 50px;
    background-image: url('./img/owl-top-left.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 30px;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

#top .row .owl-carousel:hover .owl-prev,
#top .row .owl-carousel:hover .owl-next {
    opacity: 1;
}

.btn-trend span.color_white {
    color: #ffffff;
}

#hits .owl-hits {
    padding: 0 86px;
}

#hits .owl-hits .owl-next,
#hits .owl-hits .owl-prev {
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}

#steps .steps-bottom {
    margin-top: 145px;
}

#trend .btn-trend {
    box-shadow: none;
}

#portfolio .btn-portfolio {
    box-shadow: none;
}

nav.navbar {
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 0;
}

.margin-content {
    margin-top: 174px;
}

@media (max-width: 992px) {
    .nav-bottom.nav-bottom_white li.menu-img .p-wrap {
        top: 24px;
    }

    .dropdown .navbar-toggle .icon-bar {
        background-color: #42304F;
    }

    #banner-marketing {
        padding: 30px 20px;
    }

    section .container {
        padding: 0 20px;
    }

    #hits .owl-hits {
        padding: 0;
    }


    #hits {
        padding-top: 65px;
    }

    .owl-news {
        padding: 0;
    }

    .tab-content .tab-block h2 {
        margin: 20px 20px 0 20px;
    }

    .tab-content .tab-block p {
        margin: 10px 20px 0 20px;
    }

    .big-banner .owl-banner .owl-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .nav-tabs {
        white-space: nowrap;
        overflow: auto;
    }

    .big-banner .owl-banner .owl-dots .owl-dot {
        display: block;
        border-color: #42304F;
        width: 10px;
        height: 10px;
    }

    .big-banner .owl-banner .owl-dots .owl-dot.active {
        background: #42304F;
        border-color: #42304F;
    }


    .mobile-menu .mobile-menu-top p.phone a.ablock,
    .mobile-menu .mobile-menu-top ul li a,
    .mobile-menu .mobile-menu-top p.contacts a {
        color: #42304F;
    }

    .navbar .mobile-menu {
        background: #ffffff;
    }

    .mobile-menu .navbar-top-search input[type="search"] {
        border: 1px solid #42304F;
        color: #42304F;
    }
}

@media (max-width: 780px) {
    .banner-marketing {
        flex-direction: column;
        justify-content: flex-start;
    }

    .banner-marketing__logo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .mobile-menu-top .navbar-top-search {
        width: calc(100% - 40px);
        margin: 0 20px 30px 20px;
    }
}

@media (max-width: 480px) {
    .nav-bottom.nav-bottom_white li.menu-img .p-wrap {
        right: -6px;
    }
}