@font-face {
  font-family: 'Acrom-ExtraBold';
  src: url('Acrom-ExtraBold.eot');
  src: url('Acrom-ExtraBold.woff2') format('woff2'),
       url('Acrom-ExtraBold.woff') format('woff'),
       url('Acrom-ExtraBold.ttf') format('truetype'),
       url('Acrom-ExtraBold.svg#Acrom-ExtraBold') format('svg'),
       url('Acrom-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

