@font-face {
  font-family: 'PFRegalSwashPro-Black';
  src: url('PFRegalSwashPro-Black.eot');
  src: url('PFRegalSwashPro-Black.woff2') format('woff2'),
       url('PFRegalSwashPro-Black.woff') format('woff'),
       url('PFRegalSwashPro-Black.ttf') format('truetype'),
       url('PFRegalSwashPro-Black.svg#PFRegalSwashPro-Black') format('svg'),
       url('PFRegalSwashPro-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

